{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('article_list') }}">&#8592; Retour à la liste des articles</a>
        <h1>{{ article.title }}</h1>
        <p class="card">{{ article.description }}</p>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    .card {
        padding: 20px;
    }
    </style>
{% endblock %}